/* Checkout.module.css */

.glassmorphism {
  background: #262626; /* Adjust the transparency as needed */
  backdrop-filter: blur(10px); /* Adjust the blur effect as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
}

.contentWrapper {
  padding: 20px; /* Adjust the padding as needed */
}
