@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Kanit', sans-serif;
  --font-size: 16px;
  --title-font-size: 32px;
  --mobile-font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.title-font {
  font-size: var(--title-font-size);
}

.logo {
  max-width: 200px !important;
  width: 100%;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;
  height: 90vh;
  z-index: 0;
}

.hero h1 {
  font-size: 48px;
}

.container {
  padding: 6rem 10rem;
}

.rangoli {
  position: absolute;
  top: 0%;
  left: -5%;
  max-width: 300px;
  display: none;
}

#tsparticles canvas {
  max-height: 100vh !important;
}

#hero-container {
  padding: 8rem 0rem;
}

#hero-container .monument {
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  z-index: 10;
  max-width: 600px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-section {
  padding: 2rem;
}

.event-card {
  max-width: 840px;
}

/* ticket */

.ticket {
  width: 100%;
  padding: 0 20px;
  background: #fff;
  overflow: hidden;
  margin: 1rem auto;
  border-radius: 1.5rem;
}

.ticket-right,
.ticket-left {
  float: left;
  padding: 20px;
}

.ticket-right {
  padding: 79px 50px;
  margin-right: 20px;
  width: 25%;
  position: relative;
  height: 286px;
}

.ticket-right .up-border,
.ticket-right .down-border {
  padding: 14px 15px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
}
.ticket-right .up-border {
  top: -15px;
  right: -35px;
}
.ticket-right .down-border {
  bottom: -15px;
  right: -35px;
}
.ticket-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.ticket-right .day,
.ticket-left .event {
  color: #555;
  font-size: 20px;
  margin-bottom: 9px;
}
.ticket-right .day {
  text-align: center;
  font-size: 25px;
}
.ticket-left {
  width: 71%;
  padding: 34px 0px 19px 46px;
  border-left: 3px dotted #999;
}
.ticket-left .title {
  color: #111;
  font-size: 34px;
  margin-bottom: 12px;
}
.ticket-left .sce {
  margin-top: 5px;
  display: block;
}
.ticket-left .sce .icon,
.ticket-left .sce p,
.ticket-left .loc .icon,
.ticket-left .loc p {
  float: left;
  letter-spacing: 1px;
  color: #888;
}
.ticket-left .sce .icon,
.ticket-left .loc .icon {
  margin-right: 10px;
  color: #888;
}
.ticket-left .loc {
  display: block;
}
.fix {
  clear: both;
}

.ticket .tickets,
.booked,
.cancel {
  color: #fff;
  padding: 6px 14px;
  float: right;
  font-size: 20px;
  border: none;
  border-radius: 0rem 0rem 10px 0rem;
  cursor: pointer;
}

.ticket .booked {
  background: #3d71e9;
}
.ticket .cancel {
  background: #df5454;
}
.linethrough {
  text-decoration: line-through;
}

#footer-sec-2 {
  margin-left: 10rem;
}

@media only screen and (max-width: 1150px) {
  .ticket {
    width: 100%;
    margin-right: 20px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .ticket .up-border,
  .ticket .down-border {
    width: 20px;
    height: 20px;
    display: none;
  }

  .ticket-right {
    padding: 0rem;
    width: 20%;
    height: auto;
  }

  .ticket-left {
    width: 80%;
    padding: 0rem;
    border: none;
  }

  .ticket-right .num {
    font-size: 42px;
  }

  .ticket .tickets {
    margin-top: 1rem;
    float: left;
  }

  .ticket-left .title {
    font-size: 2rem;
    font-weight: 500;
  }

  #cta .container {
    padding: 0rem;
  }

  #cta .container .px-12 {
    padding: 2rem 1rem;
  }

  #cta .container button {
    width: 100%;
  }

  #footer-sec-2 {
    justify-content: center;
    margin-left: 0rem;
  }

  #special-footer div {
    margin: auto;
    margin-bottom: 2rem;
  }

  footer .tracking-widest {
    text-align: center;
    width: 100%;
  }

  #footer-contact {
    padding-left: 0rem;
  }
}

#speakers {
  padding: 4rem 11rem;
}

#speaker-register {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

#timeline {
  padding: 4rem 2rem;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
    font-size: var(--mobile-font-size);
  }

  .container {
    padding: 24px 1rem;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .hero,
  #events,
  #card,
  #speakers,
  #speaker-register,
  #speaker-register .px-16 {
    min-height: auto;
    padding: 30px 0;
  }

  .tags {
    justify-content: start;
  }

  .hero h1 {
    font-size: 32px;
  }

  #events,
  #speakers,
  #speaker-register {
    padding: 3rem 1.5rem;
  }

  .tags {
    overflow: hidden;
    overflow-x: scroll;
  }

  .hero .container {
    padding: 4rem 1rem;
  }

  #hero-container {
    padding: 3rem 2rem;
  }

  #timeline {
    padding: 3rem 1rem;
  }

  #cta {
    padding: 4rem 2rem;
  }

  #card {
    width: 100%;
    padding: 3rem 2rem;
  }
}

/* Tablet Styles */
@media screen and (max-width: 1000px) {
  .hero {
    min-height: 80vh;
    padding: 30px 0;
  }

  .container {
    padding: 24px 1rem;
  }

  .hero h1 {
    font-size: 24px;
  }

  #feature-section {
    border-radius: 3rem 3rem 0 0;
    padding: 2rem 0;
  }

  #feature {
    display: flex;
    flex-direction: column;
  }

  .tags {
    overflow: hidden;
    justify-content: start;
    overflow-x: scroll;
  }

  #events {
    padding: 3rem 0rem;
  }

  #event-card {
    width: 100%;
  }

  #event-card img {
    max-width: 320px !important;
    max-height: 320px !important;
    object-fit: cover;
  }

  #event-card .flex-grow {
    margin-left: 1rem;
  }

  #cta {
    padding: 4rem 2rem;
  }
}

/* Desktop Styles */

/* Airtable Style */

.baymax input[type='text']:not(.ignore-baymax-defaults),
.baymax input[type='email']:not(.ignore-baymax-defaults),
.baymax input[type='password']:not(.ignore-baymax-defaults),
.baymax input[type='tel']:not(.ignore-baymax-defaults),
.baymax input[type='url']:not(.ignore-baymax-defaults),
.baymax input[type='submit']:not(.ignore-baymax-defaults),
.baymax [contenteditable='plaintext-only']:not(.ignore-baymax-defaults),
.baymax [contenteditable='true']:not(.ignore-baymax-defaults),
.baymax button:not(.ignore-baymax-defaults),
.baymax textarea:not(.ignore-baymax-defaults),
.baymax .styled-input:not(.ignore-baymax-defaults) {
  border: 2px solid #111;
}
